/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #1f2937;
}

.logo {
  color: #ff3b30;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ff3b30;
}

/* Home */

.home {
  text-align: center;
  padding: 50px;
}

.hero {
  background: #1f2937;
  width: 80%;
  margin: auto;
  padding: 50px;
  border-radius: 20px;
}

.hero h1 {
  font-size: 55px;
  color: #ff3b30;
}

.hero h2 {
  margin-top: 10px;
}

.hero p {
  margin-top: 15px;
  line-height: 1.7;
}

.hero-buttons {
  margin-top: 30px;
}

.hero-buttons button {
  width: 180px;
  margin: 10px;
}

.section-title {
  margin-top: 50px;
  margin-bottom: 30px;
}

.featured {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* Cards */

.movie-card {
  background: #2b2b2b;
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,.4);
}

.movie-card h2 {
  color: #ffd700;
  margin-bottom: 10px;
}

.movie-card p {
  margin: 10px 0;
}

/* Buttons */

button {
  background: #ff3b30;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #ff5e57;
}